@media (orientation: landscape) {
  body {
    margin: 0px;
    overflow: visible;
    -webkit-user-select: none;
    background-color: "white";
    box-shadow: 5px 5px 20px black;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 1280px;
    height: 720px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  /* 320 x 480 */
    -webkit-transform: translate(-50%, -50%) scale(0.375, 0.4444);
  }
}